[submodule "generation/models/ming-omni-tts"]
	path = generation/models/ming-omni-tts
	url = https://github.com/inclusionAI/Ming-omni-tts.git

[submodule "generation/models/soulx-podcast"]
	path = generation/models/soulx-podcast
	url = https://github.com/Soul-AILab/SoulX-Podcast.git
[submodule "generation/models/moss-tts"]
	path = generation/models/moss-tts
	url = https://github.com/OpenMOSS/MOSS-TTS.git
