[submodule "generation/models/step-auto-editx"]
	path = generation/models/step-auto-editx
	url = https://github.com/stepfun-ai/Step-Audio-EditX.git
[submodule "generation/models/cosyvoice"]
	path = generation/models/cosyvoice
	url = https://github.com/FunAudioLLM/CosyVoice.git
[submodule "generation/models/qwen3-tts"]
	path = generation/models/qwen3-tts
	url = https://github.com/QwenLM/Qwen3-TTS.git
[submodule "generation/models/ming-omni-tts"]
	path = generation/models/ming-omni-tts
	url = https://github.com/inclusionAI/Ming-omni-tts.git
